*.a
*.bck
*.o
/autom4te.cache
/config.h
/config.log
/config.status
/configure~
/cups.pc
/Makedefs
/cups/fuzzipp
/cups/libcups.dylib
/cups/libcups.3.dylib
/cups/libcups.so
/cups/libcups.so.3
/cups/locale/
/cups/rasterbench
/cups/test.pwg
/cups/test.raster
/cups/testarray
/cups/testclient
/cups/testcreds
/cups/testcups
/cups/testdest
/cups/testfile
/cups/testgetdests
/cups/testhttp
/cups/testi18n
/cups/testipp
/cups/testlang
/cups/testoptions
/cups/testpwg
/cups/testraster
/cups/testthreads
/cups/tlscheck
/man/mantohtml
/packaging/libcups.list
/scratch
/tools/ippevepcl
/tools/ippeveprinter
/tools/ippeveprinter-static
/tools/ippeveps
/tools/ippfind
/tools/ippfind-static
/tools/ipptool
/tools/ipptool-static
/vcnet/.vs
/vcnet/packages
/vcnet/x64
/xcode/CUPS.xcodeproj/project.xcworkspace/
/xcode/CUPS.xcodeproj/xcuserdata/
