*.a
*.bck
*.o
/.vs
/autom4te.cache
/config.h
/config.log
/config.status
/configure~
/cups3.pc
/Makedefs
/cups/.testssl
/cups/fuzzipp
/cups/libcups.a
/cups/libcups.dylib
/cups/libcups.3.dylib
/cups/libcups.so
/cups/libcups.so.3
/cups/libcups3.a
/cups/libcups3.dylib
/cups/libcups3.3.dylib
/cups/libcups3.so
/cups/libcups3.so.3
/cups/locale/
/cups/rasterbench
/cups/test.json
/cups/test.log
/cups/test.pwg
/cups/test.raster
/cups/testarray
/cups/testclient
/cups/testclock
/cups/testcreds
/cups/testcups
/cups/testdest
/cups/testdnssd
/cups/testfile
/cups/testform
/cups/testgetdests
/cups/testhash
/cups/testhttp
/cups/testi18n
/cups/testipp
/cups/testjson
/cups/testjwt
/cups/testlang
/cups/testoauth
/cups/testoptions
/cups/testpwg
/cups/testraster
/cups/testtestpage
/cups/testthreads
/cups/tlscheck
/packaging/libcups3.list
/scratch
/tools/cups-oauth
/tools/cups-x509
/tools/ippeveprinter
/tools/ippeveprinter-static
/tools/ippfind
/tools/ippfind-static
/tools/ipptool
/tools/ipptool-static
/tools/ipptransform
/tools/ipptransform-static
/vcnet/.vs
/vcnet/packages
/vcnet/x64
/xcode/libcups.xcodeproj/project.xcworkspace/
/xcode/libcups.xcodeproj/xcuserdata/
