name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux-openssl:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update build environment
      run: sudo apt-get update --fix-missing -y
    - name: install prerequisites
      run: sudo apt-get install -y avahi-daemon libavahi-client-dev libssl-dev libpam-dev libusb-1.0-0-dev zlib1g-dev
    - name: configure
      env:
        CC: /usr/bin/gcc
      run: ./configure --enable-debug --enable-maintainer --with-tls=openssl
    - name: make
      run: make
    - name: test
      run: make test || cat cups/test.log

  build-linux-gnutls:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update build environment
      run: sudo apt-get update --fix-missing -y
    - name: install prerequisites
      run: sudo apt-get install -y avahi-daemon libavahi-client-dev libgnutls28-dev libpam-dev libusb-1.0-0-dev zlib1g-dev
    - name: configure
      env:
        CC: /usr/bin/gcc
      run: ./configure --enable-debug --enable-maintainer --with-tls=gnutls
    - name: make
      run: make
    - name: test
      run: make test || cat cups/test.log

  build-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install prerequisites
      run: brew install libressl pkg-config
    - name: configure
      run: ./configure --enable-debug --enable-maintainer --enable-sanitizer --with-tls=openssl
    - name: make
      run: make
    - name: test
      run: make test || cat cups/test.log

  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.0.2
    - name: nuget restore
      run: cd vcnet; nuget restore libcups.sln
    - name: msbuild
      run: cd vcnet; msbuild libcups.sln
