name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-linux-openssl:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout libcups
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Update Build Environment
      run: sudo apt-get update --fix-missing -y
    - name: Install Prerequisites
      run: sudo apt-get install -y avahi-daemon libavahi-client-dev libpam-dev libpng-dev libssl-dev libusb-1.0-0-dev zlib1g-dev
    - name: Start Avahi
      run: sudo systemctl start avahi-daemon
    - name: Configure libcups
      env:
        CC: /usr/bin/gcc
      run: ./configure --enable-debug --enable-maintainer --with-tls=openssl --with-sanitizer=address || (cat config.log; pkg-config --list-all; exit 1)
    - name: Make libcups
      run: make
    - name: Test libcups
      env:
        ASAN_OPTIONS: leak_check_at_exit=false
        CUPS_DEBUG_LOG: test-debug.log
        CUPS_DEBUG_LEVEL: 4
      run: make test
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: ubuntu-openssl-test-results
        path: |
          cups/test*.log
          tools/test*.log

  build-linux-gnutls:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout libcups
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Update Build Environment
      run: sudo apt-get update --fix-missing -y
    - name: Install Prerequisites
      run: sudo apt-get install -y avahi-daemon libavahi-client-dev libgnutls28-dev libpam-dev libpng-dev libusb-1.0-0-dev zlib1g-dev
    - name: Start Avahi
      run: sudo systemctl start avahi-daemon
    - name: Configure libcups
      env:
        CC: /usr/bin/gcc
      run: ./configure --enable-debug --enable-maintainer --with-tls=gnutls --with-sanitizer=address || (cat config.log; pkg-config --list-all; exit 1)
    - name: Make libcups
      run: make
    - name: Test libcups
      env:
        ASAN_OPTIONS: leak_check_at_exit=false
        CUPS_DEBUG_LOG: test-debug.log
        CUPS_DEBUG_LEVEL: 4
      run: make test
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: ubuntu-gnutls-test-results
        path: |
          cups/test*.log
          tools/test*.log

  build-macos:

    runs-on: macos-latest

    steps:
    - name: Checkout libcups
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Configure libcups
      run: ./configure --enable-debug --enable-maintainer --with-sanitizer=address || (cat config.log; pkg-config --list-all; exit 1)
    - name: Make libcups
      run: make
    - name: Test libcups
      env:
        CUPS_DEBUG_LOG: test-debug.log
        CUPS_DEBUG_LEVEL: 4
      run: make test
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: macos-test-results
        path: |
          cups/test*.log
          tools/test*.log

  build-windows:

    runs-on: windows-latest

    steps:
    - name: Checkout libcups
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v2.0.0
    - name: Install Prerequisites
      run: cd vcnet; nuget restore libcups.sln; cd ../pdfio; nuget restore
    - name: Build libcups
      run: cd vcnet; msbuild libcups.sln
    - name: Test libcups
      run: cd vcnet; ./runtests.bat x64\Debug
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: windows-test-results
        path: |
          vcnet/x64/Debug/test*.log
